---
import { Image } from "astro:assets";
import BackgroundPizzaUp from "../../../../public/Image/PizzaUp/BackgroundPizzaUp.webp";
import BackgroundGym from "../../../../public/Image/GYM/BackgroundGym.webp";
import BackgroundMarketingAgency from "../../../../public/Image/MarketingAgency/MarketingAgency.webp";
import BackgroundPigBank from "../../../../public/Image/PigBank/PigBankBG.webp";
import BackgroundGoodTrip from "../../../../public/Image/GoodTrip/GoodTrip.webp";
import BackgroundCooktopiaShop from "../../../../public/Image/CooktopiaShop/BackgroundCooktopiaShop.webp";
import BackgroundDreamHouse from "../../../../public/Image/DreamHouse/BackgroundDreamHouse.webp";
import BackgroundFlashing from "../../../../public/Image/Flashing/flashing.webp";
import Shinrai from "../../../../public/Image/Shinrai/Shinrai.webp";
import Morgana from "../../../../public/Image/Morgana/Morgana.webp";
import GoldTeeth from "../../../../public/Image/GoldTeeth/GoldTeeth.webp";
import CampingNight from "../../../../public/Image/CampingNight/CampingNight.webp";
import StarIA from "../../../../public/Image/StarIA/StarIA.webp";
import ButtonLanding from "../components/ui/ButtonLanding.astro";
---

<div class="grid w-full h-auto grid-cols-1 gap-4 md:grid-cols-2">
  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundPizzaUp}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">PizzaUp</h1>

      <p class="py-2 text-base">
        Una landing page ideal para
        <span class="font-bold">pizzerías</span>
        que buscan atraer más clientes y mostrar su menú de forma visual y atractiva.
      </p>

      <a href="/PizzaUp">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundGym}
      alt="GYM"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />

    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">GYM</h1>

      <p class="py-2 text-base">
        Landing page pensada para
        <span class="font-bold">gimnasios</span>
        que quieren promocionar sus servicios, destacar sus entrenadores y captar
        nuevos miembros.
      </p>

      <a href="/GYM">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundMarketingAgency}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Marketing Agency</h1>

      <p class="py-2 text-base">
        Diseñada para
        <span class="font-bold">agencias de marketing digital</span>
        que necesitan una presentación profesional para captar clientes y mostrar
        su portafolio.
      </p>

      <a href="/MarketingAgency">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundPigBank}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Pig Bank</h1>

      <p class="py-2 text-base">
        Una landing para
        <span class="font-bold">bancos o fintechs</span>
        que desean transmitir confianza y presentar sus productos financieros de forma
        clara.
      </p>

      <a href="/PigBank">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundGoodTrip}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Good Trip</h1>

      <p class="py-2 text-base">
        Landing enfocada en
        <span class="font-bold">agencias de viaje </span>
        que buscan inspirar a sus clientes y mostrar sus paquetes turísticos de manera
        atractiva.
      </p>

      <a href="/GoodTrip">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundCooktopiaShop}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Cooktopia Shop</h1>

      <p class="py-2 text-base">
        Landing page pensada para una
        <span class="font-bold">tienda de artículos de cocina</span>
        que buscan vender sus productos de forma moderna y organizada.
      </p>

      <a
        href="https://cooktopiashop.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundDreamHouse}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Dream House</h1>

      <p class="py-2 text-base">
        Ideal para
        <span class="font-bold">agencias inmobiliarias</span>
        que quieren mostrar propiedades destacadas y captar nuevos compradores o arrendatarios.
      </p>

      <a href="/DreamHouse">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <!-- NEXT LANDING -->

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={BackgroundFlashing}
      alt="flashing"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />

    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Flashing</h1>

      <p class="py-2 text-base">
        Landing page pensada para
        <span class="font-bold"
          >empresas que organizan convenciones, encuentros o experiencias en
          vivo,</span
        >
        Ideal para negocios que buscan mostrar su profesionalismo.
      </p>

      <a href="/flashing">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={Shinrai}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Shinrai</h1>

      <p class="py-2 text-base">
        Landing page pensada para
        <span class="font-bold">academias de Karate</span>
        o defensa personal que desean transmitir disciplina, respeto y confianza.
      </p>

      <a href="/shinrai">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={Morgana}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Morgana</h1>

      <p class="py-2 text-base">
        Pensada para
        <span class="font-bold">concesionarias de autos</span>
        que quieren presentar su catálogo de vehículos y atraer potenciales compradores.
      </p>

      <a href="/morgana">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={GoldTeeth}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Gold Teeth</h1>

      <p class="py-2 text-base">
        Landing page ideal para
        <span class="font-bold">clínicas dentales</span>
        que desean ofrecer sus servicios, generar confianza y captar nuevos pacientes.
      </p>

      <a href="/goldteeth">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative m-auto p-4 max-w-[50rem] text-white overflow-hidden h-full"
  >
    <Image
      src={CampingNight}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Camping Night</h1>

      <p class="py-2 text-base">
        Diseñada para empresas de
        <span class="font-bold">campamentos</span>
        que buscan promocionar experiencias al aire libre y atraer a los amantes de
        la naturaleza.
      </p>

      <a href="/campingnight">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div
    class="relative w-full p-4 m-auto overflow-hidden text-white md:col-span-2"
  >
    <Image
      src={StarIA}
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={384}
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 h-full px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">StarIA</h1>

      <p class="py-2 text-base">
        Agente conversacional impulsado por
        <span class="font-bold">inteligencia artificial</span>, Ideal para
        equipos, negocios o profesionales que buscan integrar un agente
        conversacional en sus plataformas.
      </p>

      <a
        href="https://staria.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ButtonLanding />
      </a>
    </div>
  </div>
</div>
