---
import { Image } from "astro:assets";
import BackgroundGoldTeeth from "../../../../public/Image/GoldTeeth/Background.webp";
import GoldTeethLogo from "../../../../public/Image/GoldTeeth/GoldTeethLogo.webp";
import img1 from "../../../../public/Image/GoldTeeth/img1.webp";
import img2 from "../../../../public/Image/GoldTeeth/img2.webp";
import img3 from "../../../../public/Image/GoldTeeth/img3.webp";
import MobileMenu from "../../GlobalComponents/MobileMenu";
import DarkMode from "../../GlobalComponents/DarkMode";
import Modal from "../components/ui/Modal";
---

<div class="relative w-full h-dvh">
  <Image
    src={BackgroundGoldTeeth}
    alt="alt"
    class="absolute inset-0 flex flex-col object-cover object-center w-full h-full object-fixed"
    width={1920}
    height={1080}
    sizes="100vw"
    widths={[640, 1024, 1600, 1920]}
  />

  <div
    class="relative flex flex-col items-center justify-between w-full h-full m-auto"
  >
    <div
      class="grid items-center justify-center w-full h-auto grid-cols-2 gap-4 mt-4 bg-beige-100 md:max-h-40 md:grid-cols-3"
    >
      <div class="flex m-auto">
        <Image
          src={GoldTeethLogo}
          alt="GoldTeethLogo"
          class="object-contain w-40 h-40 cursor-pointer invert"
          width={800}
          height={800}
        />
      </div>

      <div
        class="hidden md:flex items-center justify-center bg-rose-800 md:bg-transparent md:backdrop-blur-[0px] backdrop-blur-[2px] rounded-lg"
      >
        <MobileMenu
          textColor="text-zinc-950 transition-all duration-900 ease-out"
          hoverColor="hover:text-rose-800"
          bgColor=""
          invertColor="text-beige-100"
          client:load
        />
      </div>

      <div class="flex justify-end p-1 m-auto rounded-lg bg-rose-800 w-fit">
        <DarkMode bgColor="text-beige-100" client:load />
      </div>
    </div>
    <div class="col-span-2 mx-auto rounded-lg md:hidden w-fit bg-rose-800">
      <MobileMenu
        textColor="text-slate-100 transition-all duration-900 ease-out"
        hoverColor="hover:text-beige-100"
        bgColor=""
        invertColor="text-beige-100"
        client:load
      />
    </div>

    <div
      class="flex flex-col text-slate-100 md:flex-row items-center justify-center gap-6 p-4 mx-auto text-center md:flex-1 w-full max-w-[100rem]"
    >
      <div class="items-center justify-center hidden grid-cols-2 gap-2 md:grid">
        <div class="flex flex-col items-end gap-2">
          <Image
            src={img1}
            alt="alt"
            class="object-contain w-40 h-40 rounded-t-full xl:w-56 xl:h-56"
            width={800}
            height={800}
          />

          <Image
            src={img2}
            alt="alt"
            class="w-40 h-40 rounded-b-full xl:w-56 xl:h-56"
            width={800}
            height={800}
          />
        </div>
        <div class="flex">
          <Image
            src={img3}
            alt="alt"
            class="object-contain w-40 h-40 rounded-t-full xl:w-56 xl:h-56"
            width={800}
            height={800}
          />
        </div>
      </div>

      <div class="flex flex-col items-center justify-center gap-4">
        <h1 class="text-xl font-bold md:text-3xl text-start lg:text-5xl">
          Sonríe mejor
        </h1>
        <h1 class="text-xl font-bold md:text-3xl text-start lg:text-5xl">
          con nosotros
        </h1>

        <div class="flex flex-col gap-2">
          <p class="text-base max-w-[25rem] text-center md:text-lg">
            Nos dedicamos a brindarle a usted y a su familia atención dental de
            máxima calidad en un entorno cómodo y acogedor.
          </p>

          <Modal client:load />

          <div>
            <p class="">⭐⭐⭐⭐⭐(4.8)</p>
            <p class="">30K+Calificaciones en Google</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
