---
import { Image } from "astro:assets";
import MeetandGreet from "../../../../public/Image/Flashing/Meet&Greet.webp";
import Conventions from "../../../../public/Image/Flashing/Conventions.webp";
import Festival from "../../../../public/Image/Flashing/Festival.webp";
import Wedding from "../../../../public/Image/Flashing/Wedding.webp";
import CorporateEvents from "../../../../public/Image/Flashing/CorporateEvents.webp";
import LaunchesAndPresentations from "../../../../public/Image/Flashing/LaunchesAndPresentations.webp";
---

<div
  class="flex flex-col items-center justify-center gap-2 mt-40 text-center md:mt-12"
>
  <h3 class="text-lg md:text-xl">Nuestros servicios</h3>
  <h1 class="text-xl font-bold md:text-2xl">Eventos que dejan huella</h1>
  <p class="text-base md:text-lg max-w-[40rem]">
    En Flashing transformamos cada idea en un evento único. Desde encuentros
    íntimos hasta festivales multitudinarios, nuestro equipo se encarga de cada
    detalle para hacer brillar cada momento.
  </p>

  <div class="grid grid-cols-2 gap-4 mt-4 lg:hidden md:gap-8 md:grid-cols-3">
    <div class="flex flex-col items-center justify-start gap-2">
      <Image
        src={MeetandGreet}
        alt="alt"
        class="object-cover w-40 h-40 rounded-full"
        width={800}
        height={800}
      />

      <h1 class="text-base font-bold md:text-lg">Meet & Greet</h1>
      <p class="text-sm">
        Organizamos experiencias exclusivas para que los fans se acerquen a sus
        ídolos con estilo y seguridad.
      </p>
    </div>

    <div class="flex flex-col items-center justify-start gap-2">
      <Image
        src={Conventions}
        alt="alt"
        class="object-cover w-40 h-40 rounded-full"
        width={800}
        height={800}
      />

      <h1 class="text-base font-bold md:text-lg">Convenciones</h1>
      <p class="text-sm">
        Planificación integral de convenciones, ferias y conferencias con
        tecnología y logística de primer nivel.
      </p>
    </div>

    <div class="flex flex-col items-center justify-start gap-2">
      <Image
        src={Festival}
        alt="alt"
        class="object-cover w-40 h-40 rounded-full"
        width={800}
        height={800}
      />

      <h1 class="text-base font-bold md:text-lg">Festivales</h1>
      <p class="text-sm">
        Diseñamos festivales que combinan música, arte y cultura, creando
        atmósferas vibrantes y memorables.
      </p>
    </div>

    <div class="flex flex-col items-center justify-start gap-2">
      <Image
        src={Wedding}
        alt="alt"
        class="object-cover w-40 h-40 rounded-full"
        width={800}
        height={800}
      />

      <h1 class="text-base font-bold md:text-lg">Bodas y Celebraciones</h1>
      <p class="text-sm">
        Creamos eventos sociales únicos, adaptados al estilo y emociones de cada
        momento especial.
      </p>
    </div>

    <div class="flex flex-col items-center justify-start gap-2">
      <Image
        src={CorporateEvents}
        alt="alt"
        class="object-cover w-40 h-40 rounded-full"
        width={800}
        height={800}
      />

      <h1 class="text-base font-bold md:text-lg">Eventos Corporativos</h1>
      <p class="text-sm">
        Conectamos marcas con personas mediante eventos empresariales
        profesionales y creativos.
      </p>
    </div>

    <div class="flex flex-col items-center justify-start gap-2">
      <Image
        src={LaunchesAndPresentations}
        alt="alt"
        class="object-cover w-40 h-40 rounded-full"
        width={800}
        height={800}
      />

      <h1 class="text-base font-bold md:text-lg">
        Lanzamientos y Presentaciones
      </h1>
      <p class="text-sm">
        Nos encargamos de la producción total de lanzamientos, logrando impacto
        visual y emocional en cada presentación.
      </p>
    </div>
  </div>

  <div class="hidden grid-cols-3 gap-4 mt-4 lg:grid md:gap-8">
    <!-- Spinning card effect -->

    <div class="group [perspective:1000px] w-60 h-60">
      <div
        class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
      >
        <!-- Forehead -->
        <div
          class="absolute w-full h-full rounded-xl overflow-hidden [backface-visibility:hidden]"
        >
          <Image
            src={MeetandGreet}
            alt="alt"
            class="object-cover w-full h-full rounded-full"
            width={800}
            height={800}
          />
        </div>

        <!-- Reverse -->

        <div
          class="absolute p-4 w-full h-full rounded-full bg-slate-50 dark:bg-zinc-900 flex flex-col items-center justify-center gap-2 text-center [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
          <h1 class="text-base font-bold">Meet & Greet</h1>
          <p class="text-sm">
            Organizamos experiencias exclusivas para que los fans se acerquen a
            sus ídolos con estilo y seguridad.
          </p>
        </div>
      </div>
    </div>

    <div class="group [perspective:1000px] w-60 h-60">
      <div
        class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
      >
        <!-- Forehead -->
        <div
          class="absolute w-full h-full rounded-xl overflow-hidden [backface-visibility:hidden]"
        >
        <Image
            src={Conventions}
            alt="alt"
            class="object-cover w-full h-full rounded-full"
            width={800}
            height={800}
          />
        </div>

        <!-- Reverse -->

        <div
          class="absolute p-4 w-full h-full rounded-full bg-slate-50 dark:bg-zinc-900 flex flex-col items-center justify-center gap-2 text-center [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
          <h1 class="text-base font-bold">Convenciones</h1>
          <p class="text-sm">
            Planificación integral de convenciones, ferias y conferencias con
            tecnología y logística de primer nivel.
          </p>
        </div>
      </div>
    </div>

    <div class="group [perspective:1000px] w-60 h-60">
      <div
        class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
      >
        <!-- Forehead -->
        <div
          class="absolute w-full h-full rounded-xl overflow-hidden [backface-visibility:hidden]"
        >
          <Image
            src={Festival}
            alt="alt"
            class="object-cover w-full h-full rounded-full"
            width={800}
            height={800}
          />
        </div>

        <!-- Reverse -->

        <div
          class="absolute p-4 w-full h-full rounded-full bg-slate-50 dark:bg-zinc-900 flex flex-col items-center justify-center gap-2 text-center [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
          <h1 class="text-base font-bold">Festivales</h1>
          <p class="text-sm">
            Diseñamos festivales que combinan música, arte y cultura, creando
            atmósferas vibrantes y memorables.
          </p>
        </div>
      </div>
    </div>

    <div class="group [perspective:1000px] w-60 h-60">
      <div
        class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
      >
        <!-- Forehead -->
        <div
          class="absolute w-full h-full rounded-xl overflow-hidden [backface-visibility:hidden]"
        >
          <Image
            src={Wedding}
            alt="alt"
            class="object-cover w-full h-full rounded-full"
            width={800}
            height={800}
          />
        </div>

        <!-- Reverse -->

        <div
          class="absolute p-4 w-full h-full rounded-full bg-slate-50 dark:bg-zinc-900 flex flex-col items-center justify-center gap-2 text-center [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
          <h1 class="text-base font-bold">Bodas y Celebraciones</h1>
          <p class="text-sm">
            Creamos eventos sociales únicos, adaptados al estilo y emociones de
            cada momento especial.
          </p>
        </div>
      </div>
    </div>

    <div class="group [perspective:1000px] w-60 h-60">
      <div
        class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
      >
        <!-- Forehead -->
        <div
          class="absolute w-full h-full rounded-xl overflow-hidden [backface-visibility:hidden]"
        >
          <Image
            src={CorporateEvents}
            alt="alt"
            class="object-cover w-full h-full rounded-full"
            width={800}
            height={800}
          />
        </div>

        <!-- Reverse -->

        <div
          class="absolute p-4 w-full h-full rounded-full bg-slate-50 dark:bg-zinc-900 flex flex-col items-center justify-center gap-2 text-center [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
          <h1 class="text-base font-bold">Eventos Corporativos</h1>
          <p class="text-sm">
            Conectamos marcas con personas mediante eventos empresariales
            profesionales y creativos.
          </p>
        </div>
      </div>
    </div>

    <div class="group [perspective:1000px] w-60 h-60">
      <div
        class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
      >
        <!-- Forehead -->
        <div
          class="absolute w-full h-full rounded-xl overflow-hidden [backface-visibility:hidden]"
        >
          <Image
            src={LaunchesAndPresentations}
            alt="alt"
            class="object-cover w-full h-full rounded-full"
            width={800}
            height={800}
          />
        </div>

        <!-- Reverse -->

        <div
          class="absolute p-4 w-full h-full rounded-full bg-slate-50 dark:bg-zinc-900 flex flex-col items-center justify-center gap-2 text-center [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
          <h1 class="text-base font-bold">Lanzamientos y Presentaciones</h1>
          <p class="text-sm">
            Nos encargamos de la producción total de lanzamientos, logrando
            impacto visual y emocional en cada presentación.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
